@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <div class="container">
        <div class="text-center">
            <h3><span>About</span> / <a href="/">Home</a></h3>
        </div>
    </div>
</div>
<div class="container">
    <h2>@ViewBag.Title. <div style="height: 4px; width: 50px; background: #0d6efd;border-radius:10px;"></div></h2>


    <p>
        A blog platform is a web-based software application that provides the tools and features for individuals or organizations to create and publish blog content online. It typically consists of a content management system (CMS) that allows bloggers to create, edit, and publish their blog posts. Some popular blog platforms include WordPress, Blogger, Tumblr, Medium, and Ghost.
    </p>
    <p>
        A blog platform usually offers a variety of features and functionalities to enhance the blogging experience, including customizable templates, SEO optimization tools, social media integration, comment moderation, analytics, and more. These features allow bloggers to personalize their blogs, attract more readers, and grow their online presence.
    </p>
    <p>
        Blog platforms are often free to use, although some may require a subscription or premium features for advanced functionalities. They can be accessed from any internet-connected device and require little to no technical knowledge to use.
    </p>
    <p>
        Overall, our blog platform provides a simple and convenient way for anyone to share their ideas, opinions, and expertise with the world through blogging.
        you want to create your own blogs?register and start blogging that's all !!
    </p>
    <p><a class="btn btn-primary" href="/Account/Register">Register Now</a></p>
    
</div>
