@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <div class="container">
        <div class="text-center">
            <h3><span>Contact</span> / <a href="/">Home</a></h3>
        </div>
    </div>
</div>
<div class="container">
    <h2>@ViewBag.Title. <div style="height: 4px; width: 50px; background: #0d6efd;border-radius:10px;"></div> </h2>
    <br />
    <div class="row">
        <div class="col-md-3">
            <address>

                <img src="~/Images/p.jpg" />
            </address>

            <address>
                <strong>Name:</strong>   <a href="">Ganza Ntambuko Sanchess</a><br />
                <strong>Id:</strong> <a href="">23584</a>
            </address>
        </div>
        <div class="col-md-3">
            <address>

                <img src="~/Images/p.jpg" />
            </address>

            <address>
                <strong>Name:</strong>   <a href="">Twahirwa Mandela</a><br />
                <strong>Id:</strong> <a href="">23995</a>
            </address>
        </div>
        <div class="col-md-3">
            <address>

                <img src="~/Images/p.jpg" />
            </address>

            <address>
                <strong>Name:</strong>   <a href="">Umurerwa Daniella</a><br />
                <strong>Id:</strong> <a href="">23685</a>
            </address>
        </div>
        <div class="col-md-3">
            <address>

                <img src="~/Images/p.jpg" />
            </address>

            <address>
                <strong>Name:</strong>   <a href="">Umurerwa Justine</a><br />
                <strong>Id:</strong> <a href="">23817</a>
            </address>
        </div>
        <div class="col-md-3">
            <address>

                <img src="~/Images/p.jpg" />
            </address>

            <address>
                <strong>Name:</strong>   <a href="">Ishimwe Immacule</a><br />
                <strong>Id:</strong> <a href="">23970</a>
            </address>
        </div>


    </div>
</div>